In [1]:
import pandas as pd
import numpy as np

In [2]:
codons = pd.read_csv('codon-table-grouped.csv')
codons

   aminoacid codon
0          A   GCA
1          A   GCC
2          A   GCG
3          A   GCT
4          C   TGC
..       ...   ...
59         V   GTG
60         V   GTT
61         W   TGG
62         Y   TAC
63         Y   TAT

[64 rows x 2 columns]

In [4]:
codons.aminoacid.unique()

array(['A', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'N', 'P',
       'Q', 'R', '*', 'S', 'T', 'V', 'W', 'Y'], dtype=object)

In [5]:
codon_usage = pd.read_excel('codon_usage_Human.xlsx')
codon_usage

   Triplet Amino_acid  Fraction  Frequency_Thousand  Number
0      TTT          F      0.45                16.9  336562
1      TTC          F      0.55                20.4  406571
2      TTA          L      0.07                 7.2  143715
3      TTG          L      0.13                12.6  249879
4      TAT          Y      0.43                12.0  239268
..     ...        ...       ...                 ...     ...
59     GCG          A      0.11                 7.6  150708
60     GGT          G      0.16                10.8  215544
61     GGC          G      0.34                22.8  453917
62     GGA          G      0.25                16.3  325243
63     GGG          G      0.25                16.4  326879

[64 rows x 5 columns]

In [22]:
def find_aminoacid(codon='ATG'):
    return codons[codons.codon == codon].aminoacid.values[0]

find_aminoacid('ATG')

'M'

In [23]:
def most_frequent(aminoacid='L'):
    return codon_usage[codon_usage.Amino_acid == aminoacid].sort_values(by='Fraction', ascending=False).iloc[0,0]

most_frequent('L')

'CTG'

In [6]:
virac = pd.read_csv('side-by-side.csv')
virac

      abspos codonOrig codonVaccine
0          0       ATG          ATG
1          3       TTT          TTC
2          6       GTT          GTG
3          9       TTT          TTC
4         12       CTT          CTG
...      ...       ...          ...
1269    3807       TTA          CTG
1270    3810       CAT          CAC
1271    3813       TAC          TAC
1272    3816       ACA          ACA
1273    3819       TAA          TGA

[1274 rows x 3 columns]

In [24]:
original_seq = list(virac.codonOrig.values)
vaccine_seq = list(virac.codonVaccine.values)
original_aminoacid_seq = [find_aminoacid(i) for i in original_seq]
vaccine_aminoacid_seq = [find_aminoacid(i) for i in vaccine_seq]

In [31]:
for index, i in enumerate(zip(original_aminoacid_seq, vaccine_aminoacid_seq)):
    if i[0]!=i[1]:
        print(index, i[0], i[1])

985 K P
986 V P

In [44]:
pred_seq = []

for i in virac.values:
    aa = find_aminoacid(i[1])
    pred = most_frequent(aa)
    pred_seq.append(pred)
    
pred_aminoacid_seq = [find_aminoacid(i) for i in pred_seq]

In [50]:
def performance(pred, vaccine):
    full = len(vaccine)
    diff = 0
    for index, i in enumerate(zip(pred_seq, vaccine_seq)):
        if i[0]!=i[1]:
            diff += 1
            
    return (full-diff)/full


print('AA %', performance(pred_aminoacid_seq, vaccine_aminoacid_seq))
print('Codon %', performance(pred_seq, vaccine_seq))
print('DNA %', performance(''.join(pred_seq), ''.join(vaccine_seq)))

AA % 0.7810047095761381
Codon % 0.7810047095761381
DNA % 0.9270015698587127

In [43]:
for index, i in enumerate(zip(pred_seq, vaccine_seq)):
    if i[0]!=i[1]:
        print(index, i[0], i[1])

8 CCC CCT
11 AGC TCC
14 TGC TGT
20 CGG AGA
21 ACC ACA
24 CCC CCT
25 CCC CCA
31 TTC TTT
33 CGG AGA
43 CGG AGA
44 AGC TCC
49 AGC TCT
56 CCC CCT
70 AGC TCC
73 AAC AAT
77 CGG AGA
88 GGC GGG
91 TTC TTT
97 AGC TCC
101 CGG AGA
108 ACC ACA
126 GTG GTC
128 AAG AAA
142 GTG GTC
153 GAG GAA
171 AGC TCC
173 CCC CCT
179 GAG GAA
189 CGG CGC
193 TTC TTT
208 CCC CCT
211 CTG CTC
214 GAC GAT
216 CCC CCT
220 AGC TCT
221 GCC GCT
223 GAG GAA
227 GAC GAT
237 TTC TTT
239 ACC ACA
245 CGG AGA
249 ACC ACA
250 CCC CCT
252 GAC GAT
256 GGC GGA
258 ACC ACA
259 GCC GCT
260 GGC GGT
263 GCC GCT
265 TAC TAT
271 CCC CCT
272 CGG AGA
289 GAC GAT
290 TGC TGT
291 GCC GCT
293 GAC GAT
294 CCC CCT
298 ACC ACA
304 AGC TCC
308 GAG GAA
323 GAG GAA
324 AGC TCC
330 AAC AAT
333 AAC AAT
342 AAC AAT
345 CGG AGA
348 AGC TCT
359 AAC AAT
365 AGC TCC
370 AGC TCC
382 AGC TCC
383 CCC CCT
392 ACC ACA
403 GGC GGA
404 GAC GAT
405 GAG GAA
409 ATC ATT
411 CCC CCT
412 GGC GGA
414 ACC ACA
431 TGC TGT
433 ATC ATT
442 AGC TCC
443 AAG AAA
444 GTG GTC
449 AAC AAT
458 AGC TCC
459 AAC AAT
468 AGC TCC
472 TAC TAT
478 CCC CCT
479 TGC TGT
483 GAG GAA
490 CCC CCA
493 AGC TCC
496 TTC TTT
499 ACC ACA
500 AAC AAT
504 TAC TAT
508 CGG AGA
515 GAG GAA
518 CAC CAT
520 CCC CCT
522 ACC ACA
526 CCC CCT
528 AAG AAA
531 AAC AAT
532 CTG CTC
536 AAG AAA
552 ACC ACA
560 CCC CCA
564 TTC TTT
567 GAC GAT
570 GAC GAT
572 ACC ACA
575 GTG GTT
576 CGG AGA
577 GAC GAT
580 ACC ACA
582 GAG GAA
588 CCC CCT
593 GGC GGA
595 AGC TCT
599 CCC CCT
605 AAC AAT
608 GCC GCA
616 TGC TGT
618 GAG GAA
623 ATC ATT
626 GAC GAT
629 ACC ACA
630 CCC CCT
631 ACC ACA
636 AGC TCC
640 AAC AAT
642 TTC TTT
645 CGG AGA
648 TGC TGT
651 GGC GGA
657 AAC AAT
667 GCC GCT
668 GGC GGA
675 ACC ACA
677 ACC ACA
680 CCC CCT
682 CGG AGA
684 CGG AGA
692 ATC ATT
695 ACC ACA
697 AGC TCT
707 AGC TCC
710 AGC TCT
712 GCC GCT
723 ACC ACA
727 CCC CCT
729 AGC TCC
744 GAC GAT
745 AGC TCC
749 AGC TCC
763 AAC AAT
764 CGG AGA
767 ACC ACA
768 GGC GGG
772 GAG GAA
778 CAG CAA
783 CAG CAA
791 CCC CCT
792 CCC CCT
800 AAC AAT
804 ATC ATT
807 GAC GAT
808 CCC CCT
824 AAG AAA
826 ACC ACA
836 TAC TAT
838 GAC GAT
839 TGC TGT
843 ATC ATT
846 CGG AGG
847 GAC GAT
849 ATC ATT
854 TTC TTT
856 GGC GGA
858 ACC ACA
861 CCC CCT
862 CCC CCT
866 GAC GAT
873 ACC ACA
874 AGC TCT
880 ACC ACA
882 ACC ACA
886 ACC ACA
887 TTC TTT
888 GGC GGA
889 GCC GCA
892 GCC GCT
897 TTC TTT
898 GCC GCT
909 GGC GGA
913 AAC AAT
940 ACC ACA
941 GCC GCA
945 GGC GGA
951 GTG GTC
954 AAC AAT
957 GCC GCA
962 GTG GTC
966 AGC TCC
967 AGC TCC
974 AGC TCT
978 GAC GAT
982 CGG AGA
985 AAG CCT
986 GTG CCT
994 CGG AGA
997 ACC ACA
999 CGG AGA
1003 CTG CTC
1005 ACC ACA
1013 CGG AGA
1017 ATC ATT
1018 CGG AGA
1020 AGC TCT
1022 AAC AAT
1029 AGC TCT
1031 TGC TGT
1038 CGG AGA
1041 TTC TTT
1052 CCC CCT
1054 AGC TCT
1056 CCC CCT
1061 TTC TTT
1065 ACC ACA
1066 TAC TAT
1069 GCC GCT
1070 CAG CAA
1073 AAC AAT
1077 GCC GCT
1078 CCC CCA
1085 AAG AAA
1088 TTC TTT
1089 CCC CCT
1090 CGG AGA
1091 GAG GAA
1096 AGC TCC
1100 CAC CAT
1104 ACC ACA
1122 AGC TCT
1127 GTG GTC
1131 ATC ATT
1134 AAC AAT
1139 CCC CCT
1148 AAG AAA
1150 GAG GAA
1155 TTC TTT
1159 ACC ACA
1167 GAC GAT
1170 GGC GGA
1172 AAC AAT
1175 GTG GTC
1180 AAG AAA
1191 AAC AAT
1200 CAG CAA
1201 GAG GAA
1203 GGC GGG
1219 TTC TTT
1222 GGC GGA
1224 ATC ATT
1229 GTG GTC
1230 ACC ACA
1234 TGC TGT
1240 TGC TGT
1246 TGC TGT
1247 TGC TGT
1249 TGC TGT
1259 GAC GAT
1260 AGC TCT
1268 AAG AAA
1272 ACC ACA